@tailwind base;
@tailwind components;
@tailwind utilities;

.font-style {
  font-family: "SF Pro Rounded", ui-rounded, "Nunito", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial,
    sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.title {
  color: #6366f1;
}

.card {
  background: #fff9e3;
  height: 369px;
  width: 360px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 2px #9083e5, -10px 10px 0 0 #9083e5;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
}

.modal {
  border-radius: 8px;
  box-shadow: inset 0 0 0 2px #9083e5, -10px 10px 0 0 #9083e5;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
}

.button {
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 64px;
  font-size: 17px;
  line-height: 20px;
  transition: 180ms ease;
  transition-property: background, color, box-shadow, transform, opacity;
  background: white;
  box-shadow: inset 0 0 0 2px #9083e5, -4px 4px 0 0 #9083e5;
  border-radius: 8px;
}

.button-modal {
  width: 90px;
  height: 60px;
}

.button:hover {
  background: #fff9e3;
  box-shadow: inset 0 0 0 2px #9083e5, -0px 0px 0 0 #9083e5;
}

.button:disabled {
  cursor: not-allowed;
  background: #cccccc;
  box-shadow: inset 0 0 0 2px #9083e5, -0px 0px 0 0 #9083e5;
}
